
  .hero {
    background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

